!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv"=>"X-UA-Compatible", "content"=>"IE=edge"}
    %meta{"name"=>"viewport", "content"=>"width=device-width, initial-scale=1"}
    %title= blog_title
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .container.wrap_body
      %nav.navbar.navbar-default.navbar-fixed-top{role:'navigation'}
        .container.container-fluid
          .navbar-header
            = link_to blog_title, root_path, class: 'navbar-brand'
          .collspse.navbar-collapse.site-header
            %ul.nav.navbar-nav
              %li{class: "#{'active' if params[:controller] == 'articles' && params[:action] == 'index'}"}
                = link_to '经验列表', articles_path
              %li
                = link_to '关于', about_blogs_path
            %ul.nav.navbar-nav.navbar-right
              - if is_logined?
                %li.dropdown
                  = link_to '#',id:'drop', class: 'dropdown-toggle pull-right',"data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true" do
                    = @current_user.nickname
                    %span.caret
                  %ul.dropdown-menu{role: 'menu' ,"aria-labelledby"=>"drop"}
                    %li
                      = link_to '#' do
                        = gravatar_image_tag @current_user.email, size: 100, alt: @current_user.nickname, gravatar: {default: 'https://secure.gravatar.com/avatar/08f077ea061585744ee080824f5a8e65.png?r=PG&d=identicon&s=64'}
                    %li
                      = link_to '设置', set_blogs_path
                    %li
                      = link_to '写经验', new_article_path
                    %li
                      = link_to '退出', logout_path
                  .navbar-header.navbar-avatar
                    = avatar @current_user
              - else
                %ul.navbar-button.navbar-right
                  %li
                    = link_to '登录', login_path, class: 'btn btn-default'
                  %li
                    = link_to '注册', register_path, class: 'btn btn-primary'
            = form_tag articles_path, method: 'get', class: 'navbar-form pull-right', role: 'search', id: 'search_form' do
              .form-group
                = text_field_tag 'keyword', params[:keyword], class: 'form-control', placeholder: '请输入关键字'
                %a#search_button
                  %span.icon.icon-search
    .container.body_content
      = yield
      = render partial: 'layouts/footer'
:javascript
  $(function(){
    $('#search_button').click(function(){
      $('#search_form').submit();
    });
    $('#drop').click(function(){
        //$('.dropdown-toggle').dropdown('toggle')
    });
    $('.dropdown-toggle').dropdown();
  });
